*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Smythe', 
    system-ui,
    -apple-system,
    sans-serif;
} 

.container {
    width: 85%;
    max-width: 600px;
    margin: 0 auto;
}

header {
    background-image: url(/media/jimmys-diner-header-background-burger.png);
    background-size: cover;
    padding: 2.5em 0;
    color: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 1.75rem;
}

main {
    position: relative;
    padding-top: 1em;
}


.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d2d2d2;
    margin: 0 auto;
    padding: 1em 0;
    overflow-x: hidden;
}

.menu-emoji {
    font-size: 4rem;
    padding: 20px
}

.menu-details {
    font-size: 1.5rem;
    margin-right: auto;
}

.menu-name {
    margin: 0;
}

.menu-ingredients {
    font-size: 1rem;
    margin: 0;
    color: #8b8b8b;
}

.menu-price {
    padding: 0;
    margin-top: 0.5em;
}

.add-btn {
    align-self: start;
    justify-self: end;

    border-radius: 50%;
    width: 2em;
    height: 2em;
    font-size: 1.5rem;
    border: 1px solid #dedede;
    color: #3c3c3c;
    background-color: #fff;
}

.order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    margin: 1.5em auto;
}

.order-title {
    margin: 0 auto 1em auto;
}

.order-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0.25em auto;
}

.remove-btn {
    border: none;
    background-color: transparent;
    color: #bbb;
    margin-right: auto;
    font-size: 1rem;
    cursor: pointer;
    padding-left: 20px;
}

.total-price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    border-top: 2px solid #393333;
}

.place-order-btn {
    width: 100%;
    padding: .75em 0;
    font-size: 1.5em;
    background-color: #16DB99;
    color: #fff;
    border: none;
    margin: 0.5em auto 0 auto;
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 55%;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 2000px black;
}

.form-title {
    text-align: center;
    font-size: 2rem;

}

input {
    font-size: 1rem;
    padding: 0.5em;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    gap: 1em;
}

.hidden {
    display: none;
}

#order-complete-message {
    background-color: #ECFDF5;
    color: #065F46;
    padding: 0.5em;
    font-size: 3rem;
    text-align: center;
    margin: 10px auto;
}